//color
$color-white-1 :#fff ;
$color-purple-1 : #b61984 ;
$color-purple-2 : #dcd1f3;
$color-dark-1 : #000 ;
$color-dark-2 : #181818;
$color-trans : transparent;

//font size
$fs-1:15px ;
$fs-2:13px;
$fs-3:0.75rem;
$fs-4:0.9rem ;
$fs-5:1.1rem ; 
$fs-6:1.55rem;  
$fs-7:2.5rem ;
$fs-8:3.8rem ;

// font weight 
$fw-1: 300 ;
$fw-2: 400 ;
$fw-3: 700 ;

// padding 
$pd-1 : 30px ;
$pd-2 : 0.5em ;
$pd-3 : 0.8em ;
$pd-4 : 1.1em ;
$pd-5 : 1.5em ;
$pd-6 : 20px ;
$pd-7 : 50px ;
$pd-8 : 4em ;
$pd-9 : 3em ;

// margin 
$mg-1: 6px ;
$mg-2: 0.5em;
$mg-3: 0.7em;
$mg-4: 1em ;
$mg-5: 50px ;
$mg-6: 2em;
$mg-7: 4em ;


// border
$bd-1 : 2px ;
$bd-2 : none ;

// border radius
$bd-radius-1:50px ; 
$bd-radius-2:50%;
$bd-radius-3:10px ;
$bd-radius-4:1rem ;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
    "extra-large-down": 1199.98px,
    "large-down": 991.98px,
    "medium-down": 767.98px,
    "small-down": 575.98px,
);

